{{!   <table class="table">
    <tr>
      <td>Created At</td>
      <td>Updated At</td>
      <td>Title</td>
      <td>URL</td>
      <td>Reading Score</td>
      <td>Category</td>
      <td>Word Length</td>
    </tr>
  </table> }}
<tr>
  <td>"{{title}}"</td>
  <td>{{category}}</td>
</tr>