<div class="indiv-slider span2" style="text-align:right; margin: 5px 0px 5px;width:360px;" id="{{name}}-slider">
  <span style=""><b>{{name}}</b></span>
  &nbsp;
  <input style="" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{value}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="hide">
</div>
