<div class="indiv-slider span2" style="text-align:center; margin: 5px 0px 5px;width:400px;" id="{{name}}-slider">
    <input data-slider-category="{{name}}" style="width:200px; float:right;" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{value}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="hide">

    <div style="float:left; width:125px; text-align:right">
      <b>{{name}}</b>
    </div>
</div>
