<div class="navbar">
  <div class="navbar-inner">
    <a class="brand"></a>
    <ul class="nav">
      <li class="activity selected"><a href="#">Activity</a></li>
      <li class="goals"><a href="#">Goals</a></li>
      <li class="prescrip"><a href="#">Prescription</a></li>
    </ul>
  </div>
</div>
