<header id="popup-header-container" class="popup-header-container"></header>

<div class="container outer-container">
  <div id="popup-main-container" class="container" >
  </div>
</div>

<footer id="popup-footer-container" class="popup-footer-container"></footer>