<div id="goals-header-container" class="container" style="margin:3%;">
  <button class="btn btn-mini btn-inverse" href="#" id="edit-goals" style="float:right">
    Edit Goals
  </button>
  <b style="font-size:24px">Weekly Reading Goals</b>
</div>

<div id="reading-budgets-container"></div>

<div id="goals-sliders-container" style="display:none;"></div>