<div id="goals-header-container" class="container" style="margin:3%;">
  <button class="btn btn-mini btn-inverse" href="#" id="edit-goals" style="float:right">
    Edit Goals
  </button>
  <b style="font-size:24px">Weekly Reading Goals</b>
</div>

<div id="goals-chart-container" class="container">
</div>

<div id="goals-form-container" class="container" style="display:none;margin:3%;">

  <div id="all-sliders" style="margin:10%">
    <div class="progress">
      <div class="bar" style="width:30%;"></div>
      <div class="bar bar-warning" style="width:20%;"></div>
      <div class="bar bar-error" style="width:10%;"></div>
      <div class="bar bar-info" style="width:15%;"></div>
      <div class="bar bar-inverse" style="width:5%;"></div>
    </div>
    <table class="table" id="sliders-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="cat-cell">
            Politics
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cat-cell">
            Business
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cat-cell">
            Technology
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cat-cell">
            Sports
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cat-cell">
            Science
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cat-cell">
            Entertainment
          </td>
          <td class="slider-cell">
            <div id="slider-1" class="goals-slider">
              <div class="slider-inner"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
