<div id="goals-header-container" class="container" style="margin:3%;">
  <button class="btn btn-mini btn-inverse" href="#" id="edit-goals" style="float:right">
    Edit Goals
  </button>
  <b style="font-size:24px">Weekly Reading Goals</b>
</div>

<div id="goals-chart-container" class="container">
</div>

<div id="goals-form-container" class="container" style="display:none;margin:3%;">
  <div id="all-sliders" style="margin:10%">
    <div class="progress">
      <div class="bar" style="width:30%;"></div>
      <div class="bar bar-warning" style="width:20%;"></div>
    </div>
  </div>
  
</div>
