<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="activity"><a href="#">Activity</a></li>
      <li class="goals"><a href="#">Goals</a></li>
      <li class="prescription"><a href="#">Prescription</a></li>
    </ul>
  </div>
</div>
