<div id="greeting">Hello!</div></br>
<div id="prescription-header">
	<div class="btn-toolbar">
		<div class="btn-group">
		  <a class="btn btn-primary active" id="politics" href="#">Pol</a>
		  <a class="btn btn-primary" id="business" href="#">Biz</a>
		  <a class="btn btn-primary" id="technology" href="#">Tech</a>
		  <a class="btn btn-primary" id="sports" href="#">Spo</a>
		  <a class="btn btn-primary" id="science" href="#">Sci</a>
		  <a class="btn btn-primary" id="entertainment" href="#">Ent</a>
		</div>
	</div>
</div>
<div id="prescription-list"></div>
