<div id="greeting">Hello!</div></br>
<div id="doctor-prescription">The doctor is in! You met <strong>60%</strong> of your goals! There's still room for improvement!</div></br>
<div id="prescription-list">Here are some suggestions to improve your content diet:</br>
<strong>1.</strong> You did not meet your set goal of <strong>6 hours</strong> for <strong>politics</strong>, so read more <a target="_blank" href="http://www.usatoday.com/news/politics/">politics<a/>.</br></br>
<strong>2.</strong> You did not meet your set goal of <strong>4 hours</strong> for <strong>technology</strong>, so read more <a target="_blank" href="http://www.nytimes.com/pages/technology/index.html‎">technology<a/>.</br></br>
<strong>3.</strong> You exceeded your set goal of <strong>3 hours</strong> for <strong>entertainment</strong>, so try cutting back.</br>
</div>
