<div id="welcome-head">
  <h3>Welcome to Slimformation!</h3>

  <h4>Start reading and check your progress later!</h4>
</div>

<div class="welcome-item">
  <h4><b>Activity Tab</b></h4>
  <p>Overview of your reading activity.</p>
</div>

<div class="welcome-item">
  <h4><b>Goals Tab</b></h4>
  <p>Set goals and view progress.</p>
</div>

<div class="welcome-item">
  <h4><b>Prescription Tab</b></h4>
  <p>View recommendations for your reading health.</p>
</div>

<div id="welcome-foot">
  <p>Note: All your data belongs to you and is stored in your browser.</p>
</div>
