.navbar {
  .navbar-inner { padding-bottom: 10px; }

  .brand { background: url('/public/images/icons/19.png') center no-repeat; }

  li {
    display: inline-block;
    line-height: 50px;

    &.activity {
      background: url('/public/images/activity.png') center no-repeat;
      background-size: 25px 25px;

      a {
        position: relative;
        top: 30px;
      }
    }

    &.goals {
      background: url('/public/images/goals.png') center no-repeat;
      background-size: 25px 25px;

      a {
        position: relative;
        top: 30px;
      }
    }

    &.prescrip {
      background: url('/public/images/prescrip.png') center no-repeat;
      background-size: 25px 25px;

      a {
        position: relative;
        top: 30px;
      }
    }
  }
}

.navbar .nav > li > a { padding: 8px 10px 10px; }
