body {
  width: 420px;
}

.btn {
    border-radius: 0px;
}

a:focus { outline: none; color: white; }

// overall styles

#popup-main-container {
    height: 460px;
    overflow: scroll;
    padding: 0px;
    margin: 0px;
}


#activity-chart-container {
  text-align: center;
}


#chart svg {
  height: 400px;
}

#chart-goals svg {
  height: 80px;
}

#source-page-visits {
 overflow-y: scroll;
 margin: 0px 15px 0px;
 display: block;
}

.navbar {
  border-radius: 0px;
  .navbar-inner { padding: 0px; border-radius: 0px; background-color: #2C3E50; }

  .nav{ 
      width: 420px;
      height: 80px;
      text-align: center;
  }

  .nav > li {
      float: none;
  }
  

  li {
    display: inline-block;
    margin: 0 auto;
    height: inherit;
    width: 110px;
    float: none;
    
    a.my-nav-a {
        color: white;
    }

    a.my-nav-a:focus {
        color: white
    }

    a.my-nav-a:hover {
        color: #BDC3C7;
    }

    a {
        position: relative;
        top: 40px;
        padding: 5px;
        box-shadow: none;
    }


    // background color of each header tab button
    &.activity#active {background-color:#2980B9;}
    &.goals#active {background-color: #E74C3C;}
    &.prescription#active {background-color: #27AE60;}    

    &.activity {
      background: url('/public/images/activity_white.png') center no-repeat;
      background-position: 40px 15px;
      background-size: 25px 25px;
    }

    &.goals {
      background: url('/public/images/goals_white.png') center no-repeat;
      background-position: 40px 15px;
      background-size: 25px 25px;
    }

    &.prescription {
      background: url('/public/images/prescription_white.png') center no-repeat;
      background-position: 40px 15px;
      background-size: 25px 25px;
    }
  }
}

#goals-chart-container {
  padding: 25px;
}

.chart { height: 300px; }

.chart div {
  font: 10px sans-serif;
  background-color: tomato;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.navbar .nav > li > a { padding: 8px 10px 10px; }

.span12 {color: black;}



// all slider related stuff below

.slider-selection {
  background: #bbb;
}

.slider-handle {
  opacity: 1;
}


.cat-cell {
  width: 50px;
}

.slider-cell {
  width: 100px;
}


.slider.slider-horizontal {
    width: 200px;
}

#slider1, #politics-slider .slider-selection, .politics-budget {
  background: #16A085;
}

#slider2, #business-slider .slider-selection, .business-budget {
  background: #2ECC71;
}

#slider3, #technology-slider .slider-selection, .technology-budget {
  background: #3498DB;
}

#slider4, #sports-slider .slider-selection, .sports-budget {
  background: #9B59B6;
}

#slider5, #science-slider .slider-selection, .science-budget {
  background: #F1C40F;
}

#slider6, #entertainment-slider .slider-selection, .entertainment-budget {
  background: #E74C3C;
}

.row-shaded {
  background-color: #ECF0F1;
}

.time {
  text-align: right;
}
