<div class="span12">
  <table id="recent-page-visits" class="table table-striped table-condensed table-hover">
    <caption>Recent Page Visits</caption>
    <tbody id="new-page-visits-list"></tbody>
  </table>
</div>