<div id="overall-distribution-container" class="container">
  <p style="text-align:center;">Your Breakdown by Category</p>
  <div id="overall-distribution" style="width:300px;margin-left:auto;margin-right:auto" class="progress">
    <div class="bar" id="slider1" data-slider-category="politics" style="width: 40%;"></div>
    <div class="bar" id="slider2" data-slider-category="business" style="width: 10%;"></div>
    <div class="bar" id="slider3" data-slider-category="technology" style="width: 10%;"></div>
    <div class="bar" id="slider4"  data-slider-category="sports" style="width: 10%;"></div>
    <div class="bar" id="slider5"  data-slider-category="science" style="width: 10%;"></div>
    <div class="bar" id="slider6"  data-slider-category="entertainment" style="width: 10%;"></div>
  </div>
</div>
<div id="user-reading-goals" class="container">
</div>
